<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="first">
        <nav class="nav">
            <a href=""><h1 class="nav--title">Fish R' US</h1></a>
            <ul class="nav--list">
                <li class="nav--item"><a href="#" class="nav--link">Fish</a></li>
                <li class="nav--item"><a href="#" class="nav--link">Marine Invertebrates</a></li>
                <li class="nav--item"><a href="#" class="nav--link">Marine Mammals</a></li>
            </ul>
        </nav>
        <div class="carousel slide center" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-90 center" src="../pictures/blue-whale-650h.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-90 center" src="../pictures/stringray-650h.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-90 center" src="../pictures/crab-650h.jpg" alt="Third slide">
              </div>
            </div>
          </div>
    </div>

    
    <div id = "info">
            <h2>
                About Us!
            </h2>
            <p>
                Fish-R-Us is a nonprofit organization dedicated to informing the masses on the wonderfully interesting ocean world! We provide a webite that contains hundreds of links to interesting and scholarly articles about your favorite marine species, perfect for citing in your papers. We also provide the best, most up-to-date information on hot fishing spots and seasonal fish migration patterns. You can also sign up for a free account to gain exclusive access to new articles as soon as they are released, weekly email updates on the Fish-R-Us team, and special opportunities to win free stuff! It is said that only 5% of the worlds oceans have been thoroughly explored and studied. Join us and learn about the other 95% as soon as we do!
            </p>
    </div>
    
        <form class="form" action="MAILTO:damoncoffey@uri.edu" method="post" enctype="text/plain">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password">
                  </div>
                  <input type="submit" value="Sign Up!">
        </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

<footer class="page-footer font-small blue footer">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="index.html"> FishRUs.com</a>
    </div>
  
</footer>

</html>
