@font-face {
    font-family: Acme;
    src: url("../fonts/Acme/Acme-Regular.ttf")
}
@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
@mixin Dosis {
    font-family: Dosis, sans-serif;
}
@mixin Acme {
    font-family: Acme, cursive;
}
$light-blue: rgba(98, 215, 238, .70);
a:hover {
    opacity: 0.6;
}

.first {
    height: 110vh;
    background-blend-mode: lighten;
    background: $light-blue url("../pictures/circle/circle-blues.png") repeat;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 1.75rem;
        .nav--title {
            @include Acme();
            margin-left: 1rem;
            color: white;
        }
        .nav--list {
            list-style-type: none;
            .nav--item {
                display: inline-block;
                margin-right: 2rem;
                .nav--link {
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                        
                    }
                }
            }
        }
    }
}
.center {
    margin: 0 auto;
}
img.center {
    border: #efefef 2px dotted;
}

.form{
    font-size: 25px;
    font-family: "Dosis";
    float: right;
    margin: 0 1.5%;
    width: 40%;
    background-color: #61b4cf;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 3%;
    line-height: 1.5em;
  }

  #info{
    font-size: 25px;
    font-family: "Dosis";
    float: left;
    margin: 0 1.5%;
    width: 40%;
    background-color: #61b4cf;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 3%;
    line-height: 1.5em;
  
  }


.footer{
    position: relative;
    top:1000px;
    background-color:#61b4cf;

}
